<div class="map-controls">
  <label class="layer-toggle">
    <input type="checkbox" id="toggle-bikes" checked> &#128690; Bike Stations
  </label>
  <label class="layer-toggle">
    <input type="checkbox" id="toggle-traffic" checked> &#128652; Traffic
  </label>
  <label class="layer-toggle">
    <input type="checkbox" id="toggle-tourism" checked> &#127963; Attractions
  </label>
  <label class="layer-toggle">
    <input type="checkbox" id="toggle-buses" checked> &#128652; Bus Stops
  </label>
  <label class="layer-toggle">
    <input type="checkbox" id="toggle-needs-bus" checked> &#9888; Needs Bus Access
  </label>
  <label class="layer-toggle">
    <input type="checkbox" id="toggle-needs-bike" checked> &#128690; Needs Bike Access
  </label>
</div>
<div id="map"></div>
